<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>boke</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/recommand.css">
</head>

<body>
    <div id="tall">
        <ul class="uls">
            <li>
                <a href="javascript:;" class="imgs">
                    <img src="/static/img/kapian/2.jpg" alt="">
                </a>
                <div class="msgs">
                    <a href="">
                        <h2>【世界那么大，我想去看看】</h2>
                        <p>是打发你加上对方表白是你带积分你是大部分你是叫对方我比方说的基本水电费其次是地方撒旦发射点士大夫士大夫士大夫胜多负少撒旦发射点发射点士大夫士</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>