<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.easyfader.min.js"></script>
    <script src="/static/js/hc-sticky.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.21/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
    <script src="/static/js/scrollReveal.js"></script>
    <script src="/static/js/comm.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>

<body>
    <div id="tall">

        <div class="header">
            <h2>个人博客</h2>
            <ul class="headers">
                <a href="">
                    <li>首页</li>
                    <div class="line"></div>
                </a>
                <a class="cd-mao" href="">
                    <li>特别推荐</li>
                    <div class="line"></div>
                </a>
                <a class="cd-mao1" href="">
                    <li>最新博文</li>
                    <div class="line"></div>
                </a>
                <a class="cd-mao2" href="">
                    <li>时间轴</li>
                    <div class="line"></div>
                </a>
                <a class="cd-mao3" href="">
                    <li>关于我</li>
                    <div class="line"></div>
                </a>
                <a class="cd-mao4" href="">
                    <li>留言</li>
                    <div class="line"></div>
                </a>
            </ul>
        </div>
        <div class="tall-ch1">
            <div class="nav-tall-ch1">
                <div class="blogs">
                    <div class="banner">
                        <div id="banner" class="fader">
                            <li class="slide">
                                <a href="/" target="_blank"><img src="/static/img/kapian/bg1.jpg"><span class="imginfo"></span></a>
                            </li>
                            <li class="slide">
                                <a href="/" target="_blank"><img src="/static/img/kapian/bg2.jpg"><span class="imginfo"></span></a>
                            </li>
                            <li class="slide">
                                <a href="/" target="_blank"><img src="/static/img/kapian/bg3.jpg"><span class="imginfo"></span></a>
                            </li>
                            <li class="slide">
                                <a href="/" target="_blank"><img src="/static/img/kapian/bg4.jpg"><span class="imginfo"></span></a>
                            </li>
                            <li class="slide">
                                <a href="/" target="_blank"><img src="/static/img/kapian/bg5.jpg"><span class="imginfo"></span></a>
                            </li>
                            <div class="fader_controls">
                                <div class="page prev" data-target="prev">&lsaquo;</div>
                                <div class="page next" data-target="next">&rsaquo;</div>
                                <ul class="pager_list">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lite-imgs-text">
                        <div class="lite-imgs-text-ch1">
                            <img src="/static/img/kapian/bg5.jpg" alt="">
                            <p>我就是觉得很不错!</p>
                        </div>
                        <div class="lite-imgs-text-ch1" style="margin-top:15px;">
                            <img src="/static/img/kapian/bg4.jpg" alt="">
                            <p>世纪东方in四方</p>
                        </div>
                    </div>
                    <div class="abme">
                        <p class="abme-c1">我的名片</p>
                        <br>
                        <p class="abme-c2">姓名：林重阳</p>
                        <p class="abme-c2">年龄：22岁</p>
                        <p class="abme-c2">性别：男</p>
                        <p class="abme-c2">爱好：健身/做网站/听歌/旅游</p>
                        <div class="icons">
                            <a href=""><img src="/static/img/github-fill.png" alt=""></a>
                            <a href=""><img src="/static/img/wechat-fill.png" alt=""></a>
                            <a href=""><img src="/static/img/weibo-circle-fill.png" alt=""></a>
                            <a href=""><img src="/static/img/QQ-circle-fill.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- 第二部分 -->
                <div class="blogs1" data-scroll-reveal="enter bottom over 1s">
                    <div class="layui-tab layui-tab-card" style="width:75%;">
                        <ul class="layui-tab-title">
                            <li class="layui-this">html5/css3</li>
                            <li>Golang后台</li>
                            <li>Python爬虫</li>
                            <li>Python数据处理</li>
                            <li>微信小程序</li>
                        </ul>
                        <div class="layui-tab-content" style="height: 300px;position: relative;">
                            <div class="layui-tab-item layui-show">
                                <div class="blogs1-ch1-imgs">
                                    <div class="blogs1-ch1-imgs-chs1">
                                        <img :src="firstmsg.imgs1" alt="">
                                        <p>{{firstmsg.msgs1}}</p>
                                    </div>
                                    <div class="blogs1-ch1-imgs-chs1">
                                        <img :src="firstmsg.imgs2" alt="">
                                        <p>{{firstmsg.msgs2}}</p>
                                    </div>
                                </div>
                                <div class="blogs1-ch1-msg">{{firstmsg.moremsgs}}</div>
                            </div>
                            <div class="layui-tab-item" v-for="nex in msgsnext">
                                <div class="blogs1-ch1-imgs">
                                    <div class="blogs1-ch1-imgs-chs1">
                                        <img :src="nex.imgs1" alt="">
                                        <p>{{nex.msgs1}}</p>
                                    </div>
                                    <div class="blogs1-ch1-imgs-chs1">
                                        <img :src="nex.imgs2" alt="">
                                        <p>{{nex.msgs2}}</p>
                                    </div>
                                </div>
                                <div class="blogs1-ch1-msg">{{nex.moremsgs}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="blogs2" data-scroll-reveal="enter bottom over 1s">
                        <div class="blogs2-ch">
                            <h2>程序猿要闻</h2>
                            <div class="hline"></div>
                            <ul class="blogs2-msgs">
                                <a href="ms.hrefs" v-for="ms in workmsgs">
                                    <li>·&nbsp;&nbsp;{{ms.msgs}}</li>
                                </a>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 第三部分 -->
                <div class="blogs3" data-scroll-reveal="enter bottom over 1s">
                    <div class="blogs3-ch1">
                        <div class="blogs3-ch1-title">
                            <p>特别推荐</p>
                        </div>
                        <ul>
                            <li v-for="esc in recommand">
                                <img :src="esc.imgs" alt="">
                                <div class="blogs3-ch1-msg">
                                    <div class="sss">{{esc.title}}</div>
                                    {{esc.msgs}}
                                </div>
                                <a :href="esc.hrefs" class="navas">+文章阅读</a>
                            </li>

                        </ul>
                    </div>

                    <div class="blogs3-ch2">
                        <p>最新推荐</p>
                        <div class="blog3-line"></div>
                        <div class="blogs3-ch2-img">
                            <img src="/static/img/kapian/bg1.jpg" alt="">
                            <p>这就是阿萨德阿斯蒂芬</p>
                        </div>
                        <ul class="blogs3-ch2-ul">
                            <a href="news.hrefs" v-for="news in resnews">
                                <li>
                                    <div class="sasa">
                                        <img :src="news.imgs" alt="">
                                    </div>
                                    <h6>{{news.msgs}}</h6>
                                </li>
                            </a>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- 下部分 -->
        <div class="tall-ch2">
            <div class="nav-tall-ch2" data-scroll-reveal="enter bottom over 1s">
                <div class="nav-margs-ch1">
                    <div class="blogs3-ch1-title">
                        <p>最新博文</p>
                    </div>
                    <ul class="nav-margs-ch1-ul">
                        <li v-for="bw in bowen">
                            <div class="nav-tall-ch2-all">
                                <div class="nav-tall-ch2-imgs">
                                    <img :src="bw.imgs" alt="">
                                    <div class="smbles" style="font-size:1em;">个人博客日记</div>
                                </div>
                                <div class="nav-tall-ch2-msg">
                                    <h3 style="font-weight:bolder;font-size:1.4em;">{{bw.title}}</h3>
                                    <p style="font-size:1.3em;">{{bw.msgs}}</p>
                                    <div class="time">2016-15-4</div>
                                    <a :href="bw.hrefs" class="more-msgs" style="font-size:1.2em;">
                                        <span>阅读更多</span>
                                    </a>
                                </div>

                            </div>
                        </li>


                    </ul>
                </div>
                <div class="nav-tall-ch2-right">
                    <div class="nav-tall-ch2-right-ch1">
                        <div class="blogs3-ch1-title">
                            <p>时间轴</p>
                        </div>
                        <!-- /////// -->
                        <ul class="layui-timeline" style="width:92%;margin-left: 4%;margin-top: 10px;">
                            <li class="layui-timeline-item" v-for="sjz in timecar">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">{{sjz.time}}</h3>
                                    <p>
                                        {{sjz.msgs1}}
                                        <br>{{sjz.msgs2}}<i class="layui-icon"></i>
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <!-- 自我介绍 -->
            <div class="tell-me" data-scroll-reveal="enter bottom over 1s">
                <img class="bgs" src="/static/img/abbg.png" alt="">
                <div class="touxiang">
                    <img :src="myself.imgs" alt="">
                    <div class="self-msg">
                        <h2 class="self-name"> {{myself.name}}</h2>
                        <p class="self-heart1"> {{myself.address}}</p>
                        <p class="self-heart2"> {{myself.rightname}}</p>
                    </div>
                </div>
                <div class="talkabout">
                    <h2>随想日记</h2>
                    <p>{{myself.msgs}}</p>
                </div>
            </div>
            <!-- 留言 -->
            <div class="liuyan" data-scroll-reveal="enter bottom over 1s">

                <p class="liu">留言</p>
                <div class="liu-msg">
                    <p>请说点什么``` </p>
                    <br> 请输入您的姓名:
                    <input type="text" name="name" id="name" v-model="name" placeholder="请输入您的姓名"> &nbsp;&nbsp;&nbsp;&nbsp;请输入邮箱:
                    <input type="text" name="email" id="email" v-model="email" placeholder="请输入您的邮箱">
                    <br>
                    <br>
                    <textarea name="msgss" id="msgss" v-model="msgs" cols="85" rows="18"></textarea>
                </div>
                <button type="button" v-on:click="btn()" id="btn">点击提交</button>
                <div class="showly">
                    <div class="showmsgs">
                        <ul>
                            <li v-for="um in usermsgs">
                                <div class="usermsgs">
                                    <div class="txiang">
                                        <img src="/static/img/kapian/bg1.jpg" alt="">
                                    </div>
                                    <div class="umsgs">
                                        <p>{{um.name}}</p>
                                        <p>{{um.time}}</p>
                                    </div>
                                </div>
                                <h3 style="margin-top:8px;font-size: .9em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{um.msgs}}</h3>
                            </li>

                        </ul>
                    </div>
                    <div class="fenye"></div>
                </div>
            </div>
        </div>
        <a href="" class="cd-top"></a>
    </div>
</body>

</body>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function() {
        var element = layui.element;

        //…
    });
</script>

</html>